<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="License Monitoring System" Language="1033" Version="1.0.0.0" Manufacturer="Central Technology Ltd" UpgradeCode="ADAC7706-188B-42E7-922B-50786779042A">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of License Monitoring System is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Feature Id="LicenseMonitoringSystem" Title="License Monitoring System" Level="1">
            <ComponentGroupRef Id="LicenseMonitoringSystem_ServiceComponents" />
        </Feature>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="LicenseMonitoringSystem_INSTALLFOLDER" Name="License Monitoring System" />
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LicenseMonitoringSystem_ServiceComponents">
            <Component Id="LicenseMonitoringSystem_ServiceComponent" Directory="LicenseMonitoringSystem_INSTALLFOLDER" Guid="2158608F-0EA8-4AD0-9CE9-BBF95B20663F">
                <CreateFolder />
                <File Id="fil9D1FAF86BA9D2CC52156D57F9B2DD94D" Source="$(var.SourceOutput)\Abp.AutoMapper.dll" Vital="yes" />
                <File Id="fil15C550EF61ABCC9FEA0FA4569C088F88" Source="$(var.SourceOutput)\Abp.dll" Vital="yes" />
                <File Id="filCFF506FF09608700B50FE1A9C8D723DE" Source="$(var.SourceOutput)\Abp.Web.Api.dll" Vital="yes" />
                <File Id="filB2D4450ABD10F2157F0ADA19FF838637" Source="$(var.SourceOutput)\Abp.Web.Common.dll" Vital="yes" />
                <File Id="fil1F916926ADE3435F72847A7ECE5B69E1" Source="$(var.SourceOutput)\Abp.Web.dll" Vital="yes" />
                <File Id="fil0E08AFE36874E533E30F13384112EFA1" Source="$(var.SourceOutput)\AutoMapper.dll" Vital="yes" />
                <File Id="fil808D19806529ABA1617D818072819E54" Source="$(var.SourceOutput)\Castle.Core.dll" Vital="yes" />
                <File Id="fil151C8FBAEDA5D4BDEB438F301EAE7FA4" Source="$(var.SourceOutput)\Castle.Windsor.dll" Vital="yes" />
                <File Id="fil09F513E173711D438D33C523D7425EA4" Source="$(var.SourceOutput)\JetBrains.Annotations.dll" Vital="yes" />
                <File Id="fil3524461E25898F9DA566B097187BD2A5" Source="$(var.SourceOutput)\LMS.Console.dll" Vital="yes" />
                <File Id="fil758B130838748D0B0DA0239586FE2832" Source="$(var.SourceOutput)\LMS.Core.dll" Vital="yes" />
                <File Id="filC8C8F619E34532B2AB0E7B7C2C1E6949" KeyPath="yes" Source="$(var.SourceOutput)\LMS.exe" Vital="yes" />
                <File Id="fil9C971DEC84DC4FAD2D69A46EB8B1360A" Source="$(var.SourceOutput)\LMS.exe.config" Vital="yes" />
                <File Id="fil2C5E478F95281B4C3074488DAA102F8E" Source="$(var.SourceOutput)\Microsoft.Data.Edm.dll" Vital="yes" />
                <File Id="fil9B5E0AF5DF97E6875086ECA1D410C37A" Source="$(var.SourceOutput)\Microsoft.Data.OData.dll" Vital="yes" />
                <File Id="filAE55FE6A97E108F290D8AC77700ED4E8" Source="$(var.SourceOutput)\Microsoft.OData.Client.dll" Vital="yes" />
                <File Id="filE7C7D40ABC41477E5A75627422FAA5F5" Source="$(var.SourceOutput)\Microsoft.OData.Core.dll" Vital="yes" />
                <File Id="fil1EAF5F7CB1EEEA9A0C59AD5A961BB8B8" Source="$(var.SourceOutput)\Microsoft.OData.Edm.dll" Vital="yes" />
                <File Id="filBA25AB939AE677980F3C909F3A20FD28" Source="$(var.SourceOutput)\Microsoft.Spatial.dll" Vital="yes" />
                <File Id="filD630E3B86AECDFD0D22D7145F74AC0EF" Source="$(var.SourceOutput)\Microsoft.Threading.Tasks.dll" Vital="yes" />
                <File Id="fil9DB2769EF75FC4140A1AA7D51327FE1B" Source="$(var.SourceOutput)\Microsoft.Threading.Tasks.Extensions.dll" Vital="yes" />
                <File Id="fil7F15BA8094994ADAD04DA907E934B5BD" Source="$(var.SourceOutput)\Newtonsoft.Json.dll" Vital="yes" />
                <File Id="fil49D7CB3EEC543B549EE3BE62A5F30A21" Source="$(var.SourceOutput)\NLog.config" Vital="yes" />
                <File Id="filD99192F3EF926B0696A896924D4A93A9" Source="$(var.SourceOutput)\NLog.dll" Vital="yes" />
                <File Id="filCADE934641242449D93D0C7196383D5B" Source="$(var.SourceOutput)\Settings.json" Vital="yes" />
                <File Id="filE285F0D236E655AD7D7DD6AB7B0AE9B5" Source="$(var.SourceOutput)\Simple.OData.Client.Net40.dll" Vital="yes" />
                <File Id="fil842A10E0CCD8A41FE6AA8AC1D5A7E0AC" Source="$(var.SourceOutput)\System.Collections.Immutable.dll" Vital="yes" />
                <File Id="fil7764FFC1C1ED142303E0353604FC6366" Source="$(var.SourceOutput)\System.Linq.Dynamic.dll" Vital="yes" />
                <File Id="filAD660CB2A40064A1E1274799E08C84C8" Source="$(var.SourceOutput)\System.Net.Http.Extensions.dll" Vital="yes" />
                <File Id="fil49C619BD9B416D16CB170A899D91A7BC" Source="$(var.SourceOutput)\System.Net.Http.Formatting.dll" Vital="yes" />
                <File Id="filC7E93F066E20E4B7AC9ED0A797C6A44E" Source="$(var.SourceOutput)\System.Spatial.dll" Vital="yes" />
                <File Id="fil4991BDE405145DC119397D3DA8E86418" Source="$(var.SourceOutput)\System.Web.Http.dll" Vital="yes" />
                <File Id="fil6EA7AC1729284C27A17039FE94522C29" Source="$(var.SourceOutput)\System.Web.Http.WebHost.dll" Vital="yes" />
                <ServiceInstall Id="LMSServiceInstaller" Type="ownProcess" Vital="yes" Name="License Monitoring System" DisplayName="License Monitoring System" Description="Automated license reporting solution." Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no" />
                <ServiceControl Id="LicenseMonitoringSystemStartService" Start="install" Name="License Monitoring System" Wait="yes" />
                <ServiceControl Id="LicenseMonitoringSystemStopService" Stop="both" Remove="uninstall" Name="License Monitoring System" Wait="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>