<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="License Monitoring System" Language="1033" Version="1.0.0.0" Manufacturer="Central Technology Ltd" UpgradeCode="ADAC7706-188B-42E7-922B-50786779042A">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of License Monitoring System is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Feature Id="LicenseMonitoringSystem" Title="License Monitoring System" Level="1">
            <ComponentGroupRef Id="LicenseMonitoringSystem_ServiceComponents" />
        </Feature>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="LicenseMonitoringSystem_INSTALLFOLDER" Name="License Monitoring System" />
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LicenseMonitoringSystem_ServiceComponents">
            <Component Id="LicenseMonitoringSystem_ServiceComponent" Directory="LicenseMonitoringSystem_INSTALLFOLDER" Guid="2158608F-0EA8-4AD0-9CE9-BBF95B20663F">
                <CreateFolder />
                <File Id="filD02783D59F12D83D7B556545071BFF66" Source="$(var.SourceOutput)\net452\Abp.AutoMapper.dll" Vital="yes" />
                <File Id="filE4B76DAC81D07FA12D7B6B5D2EFEBF7B" Source="$(var.SourceOutput)\net452\Abp.dll" Vital="yes" />
                <File Id="fil62DBF59475D553D4A85A21DE95CE8841" Source="$(var.SourceOutput)\net452\Abp.Web.Api.dll" Vital="yes" />
                <File Id="fil4825007B46388DFC3EAE6975B375F9D0" Source="$(var.SourceOutput)\net452\Abp.Web.Common.dll" Vital="yes" />
                <File Id="fil16F7C9219E57C75079D80C803F4C2427" Source="$(var.SourceOutput)\net452\Abp.Web.dll" Vital="yes" />
                <File Id="fil3D0F4698D89F75A045041C7B52D1D689" Source="$(var.SourceOutput)\net452\AutoMapper.dll" Vital="yes" />
                <File Id="fil8BAD07B078ED4EF514BD46456807AB54" Source="$(var.SourceOutput)\net452\Castle.Core.dll" Vital="yes" />
                <File Id="fil6C78B875FFCEB50B0666262C66206B72" Source="$(var.SourceOutput)\net452\Castle.Facilities.Logging.dll" Vital="yes" />
                <File Id="fil0864BD32BACF7A82629A597CFFA69FF0" Source="$(var.SourceOutput)\net452\Castle.Services.Logging.NLogIntegration.dll" Vital="yes" />
                <File Id="fil5E06519D836B96AFC9D7F8792879C0F9" Source="$(var.SourceOutput)\net452\Castle.Windsor.dll" Vital="yes" />
                <File Id="fil3D2A9A919E66C31A8EE02B97693AF8C1" Source="$(var.SourceOutput)\net452\GitVersionCore.dll" Vital="yes" />
                <File Id="fil8E1350C44487F54C31FB6DC1BE3145ED" Source="$(var.SourceOutput)\net452\JetBrains.Annotations.dll" Vital="yes" />
                <File Id="fil02ECD50E009A59AF4006160A6003C0A2" Source="$(var.SourceOutput)\net452\LMS.Console.dll" Vital="yes" />
                <File Id="fil8E039FE1BBF4E441E6E51FEAF52854A7" Source="$(var.SourceOutput)\net452\LMS.Core.dll" Vital="yes" />
                <File Id="fil8AF100A2714238A27844C7F2E826D3C2" Source="$(var.SourceOutput)\net452\LMS.dll" Vital="yes" />
                <File Id="fil6D736947507AE1D69D6B61DF943A4C4F" Source="$(var.SourceOutput)\net452\LMS.dll.config" Vital="yes" />
                <File Id="fil908BAA629B34971128717825B15A234C" Source="$(var.SourceOutput)\net452\Microsoft.Data.Edm.dll" Vital="yes" />
                <File Id="filC911158D3D2D207C2B69960ED613A134" Source="$(var.SourceOutput)\net452\Microsoft.Data.OData.dll" Vital="yes" />
                <File Id="fil4654FDEEFFEBBE5476CF182BC400E703" Source="$(var.SourceOutput)\net452\Microsoft.OData.Client.dll" Vital="yes" />
                <File Id="filC771888BF06A6DB1BEF5DCD7B34AF461" Source="$(var.SourceOutput)\net452\Microsoft.OData.Core.dll" Vital="yes" />
                <File Id="fil9AE0232B677C68575130B664F4499D37" Source="$(var.SourceOutput)\net452\Microsoft.OData.Edm.dll" Vital="yes" />
                <File Id="fil06F2EF8292BB3C37F2BAFF093220386C" Source="$(var.SourceOutput)\net452\Microsoft.Spatial.dll" Vital="yes" />
                <File Id="fil8C0AB484EC2FDE85DBB83F7A3BC876AF" Source="$(var.SourceOutput)\net452\Microsoft.Threading.Tasks.dll" Vital="yes" />
                <File Id="fil760F927D97EDC1031FC212A470D62525" Source="$(var.SourceOutput)\net452\Microsoft.Threading.Tasks.Extensions.Desktop.dll" Vital="yes" />
                <File Id="fil6CBB1CEA5F776B8C90E9A1377CCF5B93" Source="$(var.SourceOutput)\net452\Microsoft.Threading.Tasks.Extensions.dll" Vital="yes" />
                <File Id="fil9DE2A6DE7F1C210BE6F33AB060E454F7" Source="$(var.SourceOutput)\net452\Newtonsoft.Json.dll" Vital="yes" />
                <File Id="fil28F8D92451C5F7AA6BD1C51AEF96060F" Source="$(var.SourceOutput)\net452\Nito.AsyncEx.Concurrent.dll" Vital="yes" />
                <File Id="filCF4933F3899BBEA7753363BA9E18B641" Source="$(var.SourceOutput)\net452\Nito.AsyncEx.dll" Vital="yes" />
                <File Id="filEA0F61F0D490BC66DD8967FBF45382BB" Source="$(var.SourceOutput)\net452\Nito.AsyncEx.Enlightenment.dll" Vital="yes" />
                <File Id="fil0158824B282440713474EA343A891ED1" Source="$(var.SourceOutput)\net452\NLog.config" Vital="yes" />
                <File Id="fil530BB6F10B183A87688C8F82FBC76797" Source="$(var.SourceOutput)\net452\NLog.dll" Vital="yes" />
                <File Id="fil4A3372F5FF6CDA24F59DBA2DBDEFC958" Source="$(var.SourceOutput)\net452\ShellProgressBar.dll" Vital="yes" />
                <File Id="fil288E33547774681F4A729DAA5ADA44F3" Source="$(var.SourceOutput)\net452\Simple.OData.Client.Net40.dll" Vital="yes" />
                <File Id="fil5575C234C50246B60690069B565A4644" Source="$(var.SourceOutput)\net452\System.Collections.Immutable.dll" Vital="yes" />
                <File Id="fil47C8FDC64ECB3BC407B5ADDF512FC5BF" Source="$(var.SourceOutput)\net452\System.Linq.Dynamic.dll" Vital="yes" />
                <File Id="filA626FCABE43F7377F4F65309CBE7B90F" Source="$(var.SourceOutput)\net452\System.Net.Http.Extensions.dll" Vital="yes" />
                <File Id="fil895AFD143D2BDDEF2B0D5BC18389C4C5" Source="$(var.SourceOutput)\net452\System.Net.Http.Formatting.dll" Vital="yes" />
                <File Id="fil42CB264580E60C6291A231A671D91DC3" Source="$(var.SourceOutput)\net452\System.Net.Http.Primitives.dll" Vital="yes" />
                <File Id="filD065DDCD5B5561080377EE0B7BC677D6" Source="$(var.SourceOutput)\net452\System.Spatial.dll" Vital="yes" />
                <File Id="fil919A59B10E85C24C5990F5C475492E5E" Source="$(var.SourceOutput)\net452\System.Web.Http.dll" Vital="yes" />
                <File Id="filCEBAA255CFFCC4DA15F62415B9CEFB00" Source="$(var.SourceOutput)\net452\System.Web.Http.WebHost.dll" Vital="yes" />
                <ServiceInstall Id="LMSServiceInstaller" Type="ownProcess" Vital="yes" Name="License Monitoring System" DisplayName="License Monitoring System" Description="Automated license reporting solution." Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no" />
                <ServiceControl Id="LicenseMonitoringSystemStartService" Start="install" Name="License Monitoring System" Wait="yes" />
                <ServiceControl Id="LicenseMonitoringSystemStopService" Stop="both" Remove="uninstall" Name="License Monitoring System" Wait="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>