<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="License Monitoring System" Language="1033" Version="1.0.0.0" Manufacturer="Central Technology Ltd" UpgradeCode="ADAC7706-188B-42E7-922B-50786779042A">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of License Monitoring System is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <Feature Id="LicenseMonitoringSystem" Title="License Monitoring System" Level="1">
            <ComponentGroupRef Id="LicenseMonitoringSystem_ServiceComponents" />
        </Feature>
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="LicenseMonitoringSystem_INSTALLFOLDER" Name="License Monitoring System" />
            </Directory>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="LicenseMonitoringSystem_ServiceComponents">
            <Component Id="LicenseMonitoringSystem_ServiceComponent" Directory="LicenseMonitoringSystem_INSTALLFOLDER" Guid="2158608F-0EA8-4AD0-9CE9-BBF95B20663F">
                <CreateFolder />
                <File Id="filA7B732B253BE23338B0D7A892FAED79B" Source="$(var.SourceOutput)\net452\win7-x64\Abp.AutoMapper.dll" Vital="yes" />
                <File Id="fil5471796FCEA6DB845292E787350B0E3E" Source="$(var.SourceOutput)\net452\win7-x64\Abp.dll" Vital="yes" />
                <File Id="fil4DAE89A202B083BEEE0DB5809CE706BA" Source="$(var.SourceOutput)\net452\win7-x64\Abp.Web.Api.dll" Vital="yes" />
                <File Id="fil9D8009681E884D29CD666FB5F4B53B4A" Source="$(var.SourceOutput)\net452\win7-x64\Abp.Web.Common.dll" Vital="yes" />
                <File Id="fil93783D7594F29BD8F73686B3C214D2D0" Source="$(var.SourceOutput)\net452\win7-x64\Abp.Web.dll" Vital="yes" />
                <File Id="fil595D62076F241EFBA62A10A55634EB9B" Source="$(var.SourceOutput)\net452\win7-x64\AutoMapper.dll" Vital="yes" />
                <File Id="fil74978FD26CCDCEFE1843AB33DE5481EC" Source="$(var.SourceOutput)\net452\win7-x64\Castle.Core.dll" Vital="yes" />
                <File Id="fil6DFFDE8F97987EC171E7AA8DCC9943A8" Source="$(var.SourceOutput)\net452\win7-x64\Castle.Facilities.Logging.dll" Vital="yes" />
                <File Id="fil8718D61DAD4848FCFEB8F641AC76C602" Source="$(var.SourceOutput)\net452\win7-x64\Castle.Services.Logging.NLogIntegration.dll" Vital="yes" />
                <File Id="fil7B3B33CABD3175BA6CE58EDFACAFBE78" Source="$(var.SourceOutput)\net452\win7-x64\Castle.Windsor.dll" Vital="yes" />
                <File Id="filF5F126D1969C6207EBEB085F1AB23C03" Source="$(var.SourceOutput)\net452\win7-x64\Console.dll" Vital="yes" />
                <File Id="filEFFEBEC89257BB80BA7C83190D133A91" Source="$(var.SourceOutput)\net452\win7-x64\LMS.Console.dll" Vital="yes" />
                <File Id="filA656A08665D55B06604414D1A7831A5F" Source="$(var.SourceOutput)\net452\win7-x64\LMS.Core.dll" Vital="yes" />
                <File Id="filE65308DEAE6DA90EE8C2C58F9C1CCC7F" KeyPath="yes" Source="$(var.SourceOutput)\net452\win7-x64\LMS.exe" Vital="yes" />
                <File Id="fil2A3EF36FF3765AD66F069F49D9916F05" Source="$(var.SourceOutput)\net452\win7-x64\LMS.exe.config" Vital="yes" />
                <File Id="filDAEBF09AB56EA824E178A7E5AC0D8EE3" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.Data.Edm.dll" Vital="yes" />
                <File Id="fil67A066887FB676B7FAC32B48814481A0" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.Data.OData.dll" Vital="yes" />
                <File Id="fil189E8E430F902B738622866B18616189" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.OData.Client.dll" Vital="yes" />
                <File Id="fil3426CFA8C873712A25E3BF66B92F9C72" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.OData.Core.dll" Vital="yes" />
                <File Id="filF89997E4F2F4F97D90104704EBAD45CD" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.OData.Edm.dll" Vital="yes" />
                <File Id="fil8C55F996A1B17D0AA7B20C76909A6044" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.Spatial.dll" Vital="yes" />
                <File Id="fil8CB6CFCE449A6E9BA50441E227B60D72" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.Threading.Tasks.dll" Vital="yes" />
                <File Id="fil417A6997FC17223345E45DE5280F9A4D" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.Threading.Tasks.Extensions.Desktop.dll" Vital="yes" />
                <File Id="filAFD7AAB2A51CC08084C322F57B5118BD" Source="$(var.SourceOutput)\net452\win7-x64\Microsoft.Threading.Tasks.Extensions.dll" Vital="yes" />
                <File Id="fil7299DD0CEA1B12A5FD2F6A603020CC52" Source="$(var.SourceOutput)\net452\win7-x64\Newtonsoft.Json.dll" Vital="yes" />
                <File Id="fil141B46F541F17D5305E1BE899E3A328B" Source="$(var.SourceOutput)\net452\win7-x64\Nito.AsyncEx.Concurrent.dll" Vital="yes" />
                <File Id="fil8852AD29F7A83F01EE0BB48FB7D0844A" Source="$(var.SourceOutput)\net452\win7-x64\Nito.AsyncEx.dll" Vital="yes" />
                <File Id="fil3C1AD6BBFB9C349EF5A66D38B538B1A1" Source="$(var.SourceOutput)\net452\win7-x64\Nito.AsyncEx.Enlightenment.dll" Vital="yes" />
                <File Id="fil5D59C56B9CC511AAC9F79B93F9920A4C" Source="$(var.SourceOutput)\net452\win7-x64\NLog.config" Vital="yes" />
                <File Id="fil960C58C7B5659C0A317A5B3218FBF4A6" Source="$(var.SourceOutput)\net452\win7-x64\NLog.dll" Vital="yes" />
                <File Id="fil98C9C37DFEBCE2C613BF6B6CCFBD223B" Source="$(var.SourceOutput)\net452\win7-x64\Settings.json" Vital="yes" />
                <File Id="fil8AB76B358C640DB9D86431E9307F74A1" Source="$(var.SourceOutput)\net452\win7-x64\ShellProgressBar.dll" Vital="yes" />
                <File Id="fil54404B4EEEEBEC6E1F802C9018878C2B" Source="$(var.SourceOutput)\net452\win7-x64\Simple.OData.Client.Net40.dll" Vital="yes" />
                <File Id="fil33EFC19B67296E5CDB1830ECED7C6D04" Source="$(var.SourceOutput)\net452\win7-x64\System.Collections.Immutable.dll" Vital="yes" />
                <File Id="filC19E0C198B617D9BDCF2968B7E33BAC6" Source="$(var.SourceOutput)\net452\win7-x64\System.Linq.Dynamic.dll" Vital="yes" />
                <File Id="filEA44D1E9A7EFA7B9ECF2B92F05CF2FE7" Source="$(var.SourceOutput)\net452\win7-x64\System.Net.Http.Extensions.dll" Vital="yes" />
                <File Id="fil47A8C960AAEFC27ED28141BDF225F828" Source="$(var.SourceOutput)\net452\win7-x64\System.Net.Http.Formatting.dll" Vital="yes" />
                <File Id="fil401B008CF49CA7F04F56370D611AF519" Source="$(var.SourceOutput)\net452\win7-x64\System.Net.Http.Primitives.dll" Vital="yes" />
                <File Id="fil1A2BF162EC3EE1B609A5EEE6D020337A" Source="$(var.SourceOutput)\net452\win7-x64\System.Spatial.dll" Vital="yes" />
                <File Id="fil538246C7FFB85FEC314D40E594BC1572" Source="$(var.SourceOutput)\net452\win7-x64\System.Web.Http.dll" Vital="yes" />
                <File Id="fil01A4EA09EAB4E351F8DCBB08A4BFE241" Source="$(var.SourceOutput)\net452\win7-x64\System.Web.Http.WebHost.dll" Vital="yes" />
                <ServiceInstall Id="LMSServiceInstaller" Type="ownProcess" Vital="yes" Name="License Monitoring System" DisplayName="License Monitoring System" Description="Automated license reporting solution." Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no" />
                <ServiceControl Id="LicenseMonitoringSystemStartService" Start="install" Name="License Monitoring System" Wait="yes" />
                <ServiceControl Id="LicenseMonitoringSystemStopService" Stop="both" Remove="uninstall" Name="License Monitoring System" Wait="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>