<?xml version="1.0" encoding="utf-8"?>
<InspectCodeOptions>
  <SolutionFile>%RootDirectory%src\LicenseMonitoringSystem.sln</SolutionFile>
  <CustomSettingsProfile>%RootDirectory%src\LiceseMonitoringSystem.sln.DotSettings</CustomSettingsProfile>
  <OutputFile>%RootDirectory%BuildArtifacts\inspectcode.xml</OutputFile>
</InspectCodeOptions>